openapi: 3.0.3
info:
  title: CLAWDEX API
  version: 0.1.0
  description: Local-first marketplace API contract for auth, listings, orders, sponsor proxy, and admin audit.
servers:
  - url: https://api.clawnera.com
  - url: https://api.local
security:
  - bearerAuth: []
tags:
  - name: Health
  - name: Auth
  - name: Listings
  - name: Orders
  - name: Storage
  - name: Disputes
  - name: Events
  - name: Webhooks
  - name: Sponsor
  - name: Compliance
  - name: Policy
paths:
  /health:
    get:
      tags:
        - Health
      security: []
      operationId: getHealth
      responses:
        '200':
          description: Worker health information.
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  appEnv:
                    type: string
                  sponsorMode:
                    type: string
                    enum:
                      - mock
                      - live
                  compliance:
                    $ref: '#/components/schemas/ComplianceFlags'
                type: object
                required:
                  - status
                  - appEnv
                  - sponsorMode
                  - compliance
  /ready:
    get:
      tags:
        - Health
      security: []
      operationId: getReady
      responses:
        '200':
          description: Worker readiness information.
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                      - ready
                  sponsorLiveConfigured:
                    type: boolean
                type: object
                required:
                  - status
                  - sponsorLiveConfigured
  /capabilities:
    get:
      tags:
        - Policy
      security: []
      operationId: getCapabilities
      responses:
        '200':
          description: Machine-readable runtime capabilities for bot clients.
          content:
            application/json:
              schema:
                properties:
                  capabilities:
                    properties:
                      version:
                        type: string
                      generatedAt:
                        type: string
                        format: date-time
                      interaction:
                        properties:
                          listingCreateMode:
                            type: string
                            enum:
                              - wallet_auth
                              - bot_only
                          writeInteractionMode:
                            type: string
                            enum:
                              - wallet_auth
                              - bot_only
                          privilegedSponsor:
                            properties:
                              enabled:
                                type: boolean
                              mode:
                                type: string
                                enum:
                                  - wallet_auth
                                  - bot_only
                              policy:
                                $ref: '#/components/schemas/SponsorPolicySnapshot'
                            type: object
                            required:
                              - enabled
                              - mode
                              - policy
                        type: object
                        required:
                          - listingCreateMode
                          - writeInteractionMode
                          - privilegedSponsor
                      auth:
                        properties:
                          bearerToken:
                            type: boolean
                        type: object
                        required:
                          - bearerToken
                      onboarding:
                        properties:
                          helper:
                            properties:
                              packageName:
                                type: string
                              installCommand:
                                type: string
                              npmPackageUrl:
                                type: string
                                format: uri
                              repositoryUrl:
                                type: string
                                format: uri
                            type: object
                            required:
                              - packageName
                              - installCommand
                              - npmPackageUrl
                              - repositoryUrl
                          publicRead:
                            properties:
                              healthPath:
                                type: string
                              readyPath:
                                type: string
                              capabilitiesPath:
                                type: string
                              assetPolicyPath:
                                type: string
                              feePolicyPath:
                                type: string
                              mergedListingsPath:
                                type: string
                              requestListingsPath:
                                type: string
                              listingDetailPathTemplate:
                                type: string
                            type: object
                            required:
                              - healthPath
                              - readyPath
                              - capabilitiesPath
                              - assetPolicyPath
                              - feePolicyPath
                              - mergedListingsPath
                              - requestListingsPath
                              - listingDetailPathTemplate
                          portalMirror:
                            properties:
                              healthPath:
                                type: string
                              readyPath:
                                type: string
                              capabilitiesPath:
                                type: string
                              assetPolicyPath:
                                type: string
                              feePolicyPath:
                                type: string
                              mergedListingsPath:
                                type: string
                              requestListingsPath:
                                type: string
                              listingDetailPathTemplate:
                                type: string
                              guidePath:
                                type: string
                            type: object
                            required:
                              - healthPath
                              - readyPath
                              - capabilitiesPath
                              - assetPolicyPath
                              - feePolicyPath
                              - mergedListingsPath
                              - requestListingsPath
                              - listingDetailPathTemplate
                              - guidePath
                        type: object
                        required:
                          - helper
                          - publicRead
                          - portalMirror
                      features:
                        properties:
                          disputeQuorum:
                            type: boolean
                          orderMailbox:
                            type: boolean
                          listingDeposit:
                            type: boolean
                          managedStorage:
                            type: boolean
                          managedStorageAnchorEnforcedOnAccept:
                            type: boolean
                          manualDispute:
                            type: boolean
                          milestoneManifestStrict:
                            type: boolean
                          milestoneSigningContextStrict:
                            type: boolean
                          assetLaneTruth:
                            properties:
                              orderCurrency:
                                type: array
                                items:
                                  type: string
                              disputeBondPrincipal:
                                type: array
                                items:
                                  type: string
                              reviewerStakePrincipal:
                                type: array
                                items:
                                  type: string
                              listingDepositPrincipal:
                                type: array
                                items:
                                  type: string
                              reputationInitPrincipal:
                                type: array
                                items:
                                  type: string
                            type: object
                            additionalProperties: false
                            required:
                              - orderCurrency
                              - disputeBondPrincipal
                              - reviewerStakePrincipal
                              - listingDepositPrincipal
                              - reputationInitPrincipal
                        type: object
                        required:
                          - disputeQuorum
                          - orderMailbox
                          - listingDeposit
                          - managedStorage
                          - managedStorageAnchorEnforcedOnAccept
                          - manualDispute
                          - milestoneManifestStrict
                          - milestoneSigningContextStrict
                          - assetLaneTruth
                    type: object
                    required:
                      - version
                      - generatedAt
                      - interaction
                      - auth
                      - onboarding
                      - features
                type: object
                required:
                  - capabilities
  /actors/me/capabilities:
    get:
      tags:
        - Auth
      operationId: getActorCapabilities
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Actor-scoped runtime capabilities.
          content:
            application/json:
              schema:
                properties:
                  actorAddress:
                    type: string
                  capabilities:
                    properties:
                      sponsor:
                        properties:
                          version:
                            type: string
                            enum:
                              - sponsor_privileges.v1
                          mode:
                            type: string
                            enum:
                              - capability
                          actorAddress:
                            type: string
                          canSponsor:
                            type: boolean
                          sponsorQuotaTier:
                            type: integer
                            minimum: 0
                            maximum: 4
                          sponsorFastLane:
                            type: boolean
                          reasonCodes:
                            type: array
                            items:
                              type: string
                          risk:
                            properties:
                              abuseLimited:
                                type: boolean
                              actorStrikes:
                                type: integer
                                minimum: 0
                              ipStrikes:
                                type: integer
                                minimum: 0
                              strikesMax:
                                type: integer
                                minimum: 1
                            type: object
                            required:
                              - abuseLimited
                              - actorStrikes
                              - ipStrikes
                              - strikesMax
                          signals:
                            properties:
                              accountType:
                                type: string
                                enum:
                                  - TRADER
                                  - CONSUMER
                              traderVerificationStatus:
                                type: string
                                enum:
                                  - NOT_SUBMITTED
                                  - PENDING
                                  - VERIFIED
                                  - REJECTED
                              tier:
                                type: integer
                                minimum: 0
                                maximum: 4
                              isBot:
                                type: boolean
                              writeInteractionMode:
                                type: string
                                enum:
                                  - wallet_auth
                                  - bot_only
                            type: object
                            required:
                              - accountType
                              - traderVerificationStatus
                              - tier
                              - isBot
                              - writeInteractionMode
                          evaluatedAt:
                            type: string
                            format: date-time
                          policy:
                            $ref: '#/components/schemas/SponsorPolicySnapshot'
                        type: object
                        required:
                          - version
                          - mode
                          - actorAddress
                          - canSponsor
                          - sponsorQuotaTier
                          - sponsorFastLane
                          - reasonCodes
                          - risk
                          - signals
                          - evaluatedAt
                          - policy
                    type: object
                    required:
                      - sponsor
                type: object
                required:
                  - actorAddress
                  - capabilities
        '401':
          description: Missing or invalid bearer token.
  /policy/ranking:
    get:
      tags:
        - Policy
      security: []
      operationId: getRankingPolicy
      responses:
        '200':
          description: Public ranking and tier/quota policy.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/components/schemas/RankingPolicy'
                type: object
                required:
                  - policy
  /policy/assets:
    get:
      tags:
        - Policy
      security: []
      operationId: getAssetPolicy
      responses:
        '200':
          description: Public asset, lane, and control-plane policy for supported market coins.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/components/schemas/AssetPolicy'
                type: object
                required:
                  - policy
  /policy/fees:
    get:
      tags:
        - Policy
      security: []
      operationId: getFeePolicy
      responses:
        '200':
          description: Public fee policy for escrow and listings.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/components/schemas/FeePolicy'
                type: object
                required:
                  - policy
  /policy/control-plane:
    get:
      tags:
        - Policy
      security: []
      operationId: getMarketControlPlanePolicy
      responses:
        '200':
          description: Joined read-only asset and fee control-plane truth.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/components/schemas/MarketControlPlanePolicy'
                type: object
                required:
                  - policy
  /policy/sponsor:
    get:
      tags:
        - Policy
        - Sponsor
      security: []
      operationId: getSponsorPolicy
      responses:
        '200':
          description: Canonical sponsor policy and recommended gas budget table.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/components/schemas/SponsorPolicySnapshot'
                type: object
                required:
                  - policy
  /policy/storage:
    get:
      tags:
        - Policy
      security: []
      operationId: getStoragePolicy
      responses:
        '200':
          description: Public managed/BYO storage policy and moderation channel.
          content:
            application/json:
              schema:
                properties:
                  policy:
                    properties:
                      version:
                        type: string
                        enum:
                          - v1
                      modes:
                        properties:
                          managed:
                            properties:
                              enabled:
                                type: boolean
                              maxFileSizeBytes:
                                type: integer
                              maxFileSizeByMimeBytes:
                                type: object
                                additionalProperties:
                                  type: integer
                              signUrlExpiresSec:
                                type: integer
                              allowedMimeTypes:
                                type: array
                                items:
                                  type: string
                              blockedExtensions:
                                type: array
                                items:
                                  type: string
                              requireSha256:
                                type: boolean
                              requireConfirmedAnchorOnAccept:
                                type: boolean
                              fee:
                                properties:
                                  minAtomic:
                                    type: string
                                  asset:
                                    type: string
                                    enum:
                                      - IOTA
                                      - CLAW
                                  recipient:
                                    type: string
                                    nullable: true
                                  requiresChainEvent:
                                    type: boolean
                                type: object
                                required:
                                  - minAtomic
                                  - asset
                                  - requiresChainEvent
                            type: object
                            required:
                              - enabled
                              - maxFileSizeBytes
                              - maxFileSizeByMimeBytes
                              - signUrlExpiresSec
                              - allowedMimeTypes
                              - blockedExtensions
                              - requireSha256
                              - requireConfirmedAnchorOnAccept
                              - fee
                          byo:
                            properties:
                              enabled:
                                type: boolean
                            type: object
                            required:
                              - enabled
                        type: object
                        required:
                          - managed
                          - byo
                      moderation:
                        properties:
                          illegalContentForbidden:
                            type: boolean
                          reportEndpoint:
                            type: string
                        type: object
                        required:
                          - illegalContentForbidden
                          - reportEndpoint
                    type: object
                    required:
                      - version
                      - modes
                      - moderation
                type: object
                required:
                  - policy
  /policy/contact:
    get:
      tags:
        - Policy
      security: []
      operationId: getPublicContactPolicy
      responses:
        '200':
          description: Public compliance contact metadata and complaint intake channel.
          content:
            application/json:
              schema:
                properties:
                  contact:
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      url:
                        type: string
                    type: object
                  complaintChannel:
                    type: string
                  legalCheckpoint:
                    properties:
                      owner:
                        type: string
                      intervalDays:
                        type: integer
                      lastReviewDate:
                        type: string
                        description: ISO-8601 date (`YYYY-MM-DD`) of the last legal checkpoint.
                      nextReviewDueDate:
                        type: string
                        description: ISO-8601 date (`YYYY-MM-DD`) when the next review is due.
                      overdue:
                        type: boolean
                      daysUntilDue:
                        type: integer
                      status:
                        type: string
                        enum:
                          - scheduled
                          - missing_last_review
                    type: object
                    required:
                      - intervalDays
                      - overdue
                      - status
                  ownerRoster:
                    properties:
                      owners:
                        properties:
                          compliance:
                            type: string
                          security:
                            type: string
                          moderation:
                            type: string
                          dataProtection:
                            type: string
                        type: object
                      missingRoles:
                        type: array
                        items:
                          type: string
                          enum:
                            - compliance
                            - security
                            - moderation
                            - dataProtection
                      complete:
                        type: boolean
                    type: object
                    required:
                      - owners
                      - missingRoles
                      - complete
                type: object
                required:
                  - contact
                  - complaintChannel
                  - legalCheckpoint
                  - ownerRoster
  /rankings/listings:
    get:
      tags:
        - Policy
      security: []
      operationId: listRankedListings
      description: >-
        OFFER-only ranked listing snapshot built from a widened recent-offer candidate window. This is not the merged
        discovery feed. REQUEST listings are excluded; use `GET /listings?listingMode=ALL` for merged browse, `GET
        /listings?listingMode=REQUEST` for buyer-created requests, and `GET /listings/{listingId}` once the exact id is
        already known.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Ranked listing snapshot with score breakdown.
          content:
            application/json:
              schema:
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankedListing'
                  policyVersion:
                    type: string
                type: object
                required:
                  - items
                  - policyVersion
  /auth/challenge:
    post:
      tags:
        - Auth
      security: []
      operationId: createAuthChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthChallengeRequest'
      responses:
        '200':
          description: Challenge issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthChallengeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/verify:
    post:
      tags:
        - Auth
      security: []
      operationId: verifyAuthChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthVerifyRequest'
      responses:
        '200':
          description: Signature accepted and session-backed bearer tokens issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthVerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/refresh:
    post:
      tags:
        - Auth
      security: []
      operationId: refreshAuthSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRefreshRequest'
      responses:
        '200':
          description: Refresh token accepted and rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/session:
    get:
      tags:
        - Auth
      operationId: getAuthSession
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current access-token/session metadata for the authenticated actor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/logout:
    post:
      tags:
        - Auth
      operationId: logoutAuthSession
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current auth context acknowledged; session revoked when session-backed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLogoutResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/{address}/key-agreement:
    get:
      tags:
        - Auth
      security: []
      operationId: getUserKeyAgreement
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: keyVersion
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Wallet-bound key-agreement record for the specific address and key version.
          content:
            application/json:
              schema:
                properties:
                  keyAgreement:
                    $ref: '#/components/schemas/UserKeyAgreement'
                type: object
                required:
                  - keyAgreement
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{address}/reputation:
    get:
      tags:
        - Auth
      security: []
      operationId: getUserReputation
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Objective reputation profile aggregated from order and milestone outcomes.
          content:
            application/json:
              schema:
                properties:
                  profile:
                    $ref: '#/components/schemas/UserReputationProfile'
                type: object
                required:
                  - profile
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/{address}/reviews:
    get:
      tags:
        - Auth
      security: []
      operationId: listUserReviews
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<txDigest>|<eventSeq>`.
      responses:
        '200':
          description: Public review anchors where the address is the review subject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          description: Review feed temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Review feed not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/me/key-agreement:
    put:
      tags:
        - Auth
      operationId: upsertMyKeyAgreement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAgreementUpsertRequest'
      responses:
        '200':
          description: Wallet-bound key-agreement record upserted.
          content:
            application/json:
              schema:
                properties:
                  keyAgreement:
                    $ref: '#/components/schemas/UserKeyAgreement'
                  signaturePublicKey:
                    type: string
                type: object
                required:
                  - keyAgreement
                  - signaturePublicKey
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /storage/uploads/presign:
    post:
      tags:
        - Storage
      operationId: presignManagedStorageUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedStoragePresignRequest'
      responses:
        '200':
          description: Upload policy + signed URL for managed mode, or BYO guidance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedStoragePresignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: File exceeds policy limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Managed storage provider request failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /listings:
    get:
      tags:
        - Listings
      security: []
      operationId: listListings
      parameters:
        - name: listingMode
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListingBrowseMode'
          description: >-
            Listing discovery defaults to `OFFER`. Set `REQUEST` explicitly to browse buyer-created requests. Set `ALL`
            for a merged browse feed.
        - name: category
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListingCategory'
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 120
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: >-
              Sort-aware listings cursor. `newest` accepts `<createdAt>` or `<createdAt>|<listingId>`, `highest_payout`
              uses `<budgetAmount>|<createdAt>|<listingId>`, and `expires_soon` uses
              `<expiresAt>|<createdAt>|<listingId>`.
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListingSort'
      responses:
        '200':
          description: Listing collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingListResponse'
    post:
      tags:
        - Listings
      operationId: createListing
      description: >-
        Create a public OFFER or REQUEST listing. `listingMode` is required and must be sent explicitly. Live runtimes
        with on-chain reputation config may reject missing creator reputation profiles with `409
        reputation_profile_required`.
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListingRequest'
      responses:
        '201':
          description: Listing created.
          content:
            application/json:
              schema:
                properties:
                  item:
                    $ref: '#/components/schemas/Listing'
                  operationalWarnings:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperationalWarning'
                type: object
                required:
                  - item
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}:
    get:
      tags:
        - Listings
      security: []
      operationId: getListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Exact single listing read for a known listing id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingReadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/categories:
    get:
      tags:
        - Listings
      security: []
      operationId: listListingCategories
      parameters:
        - name: listingMode
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListingBrowseMode'
          description: >-
            Category counts default to `OFFER`. Set `REQUEST` explicitly to count buyer-created requests. Set `ALL` for
            merged counts.
      responses:
        '200':
          description: Open listing categories with item counts.
          content:
            application/json:
              schema:
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ListingCategoryCount'
                type: object
                required:
                  - items
  /listings/{listingId}/bids:
    get:
      tags:
        - Listings
      operationId: listListingBids
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BidStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<createdAt>|<bidId>`.
      responses:
        '200':
          description: Listing bids visible to the listing creator or to the calling bidder for their own bids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/{listingId}/cancel:
    post:
      tags:
        - Listings
      operationId: cancelListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listing canceled.
          content:
            application/json:
              schema:
                properties:
                  listing:
                    $ref: '#/components/schemas/Listing'
                type: object
                required:
                  - listing
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/renew:
    post:
      tags:
        - Listings
      operationId: renewListing
      description: >-
        Reopen or extend a listing expiry from the creator wallet. Live runtimes with on-chain reputation config may
        reject renewals from wallets that still lack a reputation profile with `409 reputation_profile_required`.
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingRenewRequest'
      responses:
        '200':
          description: Listing reopened or expiry extended.
          content:
            application/json:
              schema:
                properties:
                  listing:
                    $ref: '#/components/schemas/Listing'
                type: object
                required:
                  - listing
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /bids:
    post:
      tags:
        - Orders
      operationId: createBid
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBidRequest'
      responses:
        '201':
          description: Bid created for a listing.
          content:
            application/json:
              schema:
                properties:
                  bid:
                    $ref: '#/components/schemas/Bid'
                  operationalWarnings:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperationalWarning'
                type: object
                required:
                  - bid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /bids/{bidId}/withdraw:
    post:
      tags:
        - Orders
      operationId: withdrawBid
      parameters:
        - name: bidId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bid withdrawn.
          content:
            application/json:
              schema:
                properties:
                  bid:
                    $ref: '#/components/schemas/Bid'
                type: object
                required:
                  - bid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /bids/{bidId}/accept:
    post:
      tags:
        - Orders
      operationId: acceptBid
      parameters:
        - name: bidId
          in: path
          required: true
          schema:
            type: string
          description: Canonical accepted bid identifier.
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptBidRequest'
      responses:
        '201':
          description: >-
            Order created from accepted bid. The accept response exposes dispute-bond policy/state, structured
            disputeBondGuidance, and operational warnings, but it does not choose the final bond-funding amount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptBidResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders:
    get:
      tags:
        - Orders
      operationId: listOrders
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum:
              - buyer
              - seller
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - AWAITING_DEPOSITS
              - IN_PROGRESS
              - DISPUTED
              - COMPLETED
              - CANCELLED
        - name: listingId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<updatedAt>|<orderId>`.
      responses:
        '200':
          description: Orders visible to the authenticated actor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /events:
    get:
      tags:
        - Events
      security:
        - bearerAuth: []
        - {}
      operationId: listMarketplaceEvents
      parameters:
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MarketplaceEventFeedScope'
        - name: type
          in: query
          required: false
          schema:
            type: string
            description: Single event type or comma-separated event types.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<createdAt>|<eventId>`.
      responses:
        '200':
          description: Cursor-based marketplace event feed with public and actor-scoped visibility.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceEventListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/subscriptions:
    get:
      tags:
        - Webhooks
      operationId: listWebhookSubscriptions
      parameters:
        - name: activeOnly
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Actor-owned webhook subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Webhooks
      operationId: createWebhookSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
      responses:
        '201':
          description: Webhook subscription created.
          content:
            application/json:
              schema:
                properties:
                  subscription:
                    $ref: '#/components/schemas/WebhookSubscription'
                type: object
                required:
                  - subscription
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /webhooks/subscriptions/{subscriptionId}/enable:
    post:
      tags:
        - Webhooks
      operationId: enableWebhookSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook subscription re-enabled.
          content:
            application/json:
              schema:
                properties:
                  subscription:
                    $ref: '#/components/schemas/WebhookSubscription'
                type: object
                required:
                  - subscription
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/subscriptions/{subscriptionId}/disable:
    post:
      tags:
        - Webhooks
      operationId: disableWebhookSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook subscription disabled.
          content:
            application/json:
              schema:
                properties:
                  subscription:
                    $ref: '#/components/schemas/WebhookSubscription'
                type: object
                required:
                  - subscription
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/deliveries:
    get:
      tags:
        - Webhooks
      operationId: listWebhookDeliveries
      parameters:
        - name: subscriptionId
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WebhookDeliveryStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: Recorded webhook delivery attempts for the authenticated actor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orders/{orderId}:
    get:
      tags:
        - Orders
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order by id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderReadResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/escrow/bind:
    post:
      tags:
        - Orders
      operationId: bindOrderEscrow
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEscrowBindRequest'
      responses:
        '200':
          description: Escrow object verified and attached to order.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  escrowObjectId:
                    type: string
                type: object
                required:
                  - order
                  - escrowObjectId
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/escrow/release:
    post:
      tags:
        - Orders
      operationId: releaseOrderEscrowPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEscrowReleaseRequest'
      responses:
        '200':
          description: Transaction plan for releasing a verified order escrow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/escrow/claim-after-deadline:
    post:
      tags:
        - Orders
      operationId: claimOrderEscrowAfterDeadlinePlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEscrowClaimAfterDeadlineRequest'
      responses:
        '200':
          description: Transaction plan for claiming a verified order escrow after deadline expiry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/mailbox:
    get:
      tags:
        - Orders
      operationId: getOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bound on-chain mailbox object id for this order.
          content:
            application/json:
              schema:
                properties:
                  mailboxObjectId:
                    type: string
                type: object
                required:
                  - mailboxObjectId
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Orders
      operationId: setOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMailboxUpsertRequest'
      responses:
        '200':
          description: Mailbox object id verified and attached to order.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  mailboxObjectId:
                    type: string
                type: object
                required:
                  - order
                  - mailboxObjectId
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/mailbox/init-plan:
    post:
      tags:
        - Orders
      operationId: planInitOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMailboxPlanRequest'
      responses:
        '200':
          description: Transaction plan for creating a new on-chain mailbox for the order participants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /orders/{orderId}/mailbox/post-signal-plan:
    post:
      tags:
        - Orders
      operationId: planPostOrderMailboxSignal
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMailboxPostSignalPlanRequest'
      responses:
        '200':
          description: Transaction plan for posting a mailbox-backed signal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/mailbox/ack-plan:
    post:
      tags:
        - Orders
      operationId: planAckOrderMailboxSignal
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMailboxAckPlanRequest'
      responses:
        '200':
          description: Transaction plan for acknowledging a mailbox signal sequence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/mailbox/close-plan:
    post:
      tags:
        - Orders
      operationId: planCloseOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMailboxPlanRequest'
      responses:
        '200':
          description: Transaction plan for approving mailbox closure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/communication-agreement:
    get:
      tags:
        - Orders
      operationId: getOrderCommunicationAgreement
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Negotiated bot communication agreement for this order.
          content:
            application/json:
              schema:
                properties:
                  communicationAgreement:
                    $ref: '#/components/schemas/OrderCommunicationAgreement'
                type: object
                required:
                  - communicationAgreement
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/timeline:
    get:
      tags:
        - Orders
      operationId: getOrderTimeline
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order timeline with milestone rows.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  milestones:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderMilestone'
                type: object
                required:
                  - order
                  - milestones
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/milestones/{milestoneId}/submit:
    post:
      tags:
        - Orders
      operationId: submitOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneSubmitRequest'
      responses:
        '200':
          description: Milestone submitted by seller.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  milestone:
                    $ref: '#/components/schemas/OrderMilestone'
                  verification:
                    $ref: '#/components/schemas/MilestoneSubmitVerification'
                type: object
                required:
                  - order
                  - milestone
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/milestones/{milestoneId}/artifact-manifest:
    get:
      tags:
        - Orders
      operationId: getMilestoneArtifactManifest
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Stored signed milestone artifact manifest (recipient scoped for non-seller actors).
          content:
            application/json:
              schema:
                properties:
                  artifactManifest:
                    $ref: '#/components/schemas/MilestoneArtifactManifest'
                type: object
                required:
                  - artifactManifest
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/milestones/{milestoneId}/artifact-manifest/content:
    get:
      tags:
        - Orders
      operationId: getMilestoneArtifactManifestContent
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Resolve and return the stored manifest JSON through the participant-authenticated managed-storage proxy,
            including the resolved retrieval source metadata.
          content:
            application/json:
              schema:
                properties:
                  artifactManifest:
                    $ref: '#/components/schemas/MilestoneArtifactManifest'
                  resolvedManifest:
                    properties:
                      source:
                        type: string
                      network:
                        type: string
                      payload:
                        type: object
                        additionalProperties: true
                    type: object
                    required:
                      - source
                      - payload
                type: object
                required:
                  - artifactManifest
                  - resolvedManifest
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: Managed-storage manifest retrieval failed across configured gateways.
  /orders/{orderId}/milestones/{milestoneId}/anchor:
    get:
      tags:
        - Orders
      operationId: getMilestoneManifestAnchor
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current on-chain anchor tracking record for the milestone manifest.
          content:
            application/json:
              schema:
                properties:
                  anchor:
                    $ref: '#/components/schemas/MilestoneManifestAnchor'
                type: object
                required:
                  - anchor
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Orders
      operationId: anchorMilestoneManifest
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneAnchorRequest'
      responses:
        '200':
          description: Anchor reference stored and reconciled against indexed chain events.
          content:
            application/json:
              schema:
                properties:
                  anchor:
                    $ref: '#/components/schemas/MilestoneManifestAnchor'
                  reconcile:
                    properties:
                      outcome:
                        type: string
                        enum:
                          - pending
                          - confirmed
                          - mismatch
                    type: object
                    required:
                      - outcome
                type: object
                required:
                  - anchor
                  - reconcile
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/milestones/{milestoneId}/accept:
    post:
      tags:
        - Orders
      operationId: acceptOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Milestone accepted by buyer.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  milestone:
                    $ref: '#/components/schemas/OrderMilestone'
                type: object
                required:
                  - order
                  - milestone
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/milestones/{milestoneId}/reject:
    post:
      tags:
        - Orders
      operationId: rejectOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneRejectRequest'
      responses:
        '200':
          description: Milestone rejected by buyer.
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                  milestone:
                    $ref: '#/components/schemas/OrderMilestone'
                type: object
                required:
                  - order
                  - milestone
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/reviews:
    get:
      tags:
        - Orders
      security: []
      operationId: listOrderReviews
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<txDigest>|<eventSeq>`.
      responses:
        '200':
          description: Public review anchors attached to the order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: Review feed temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Review feed not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Orders
      operationId: postOrderReviewPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewPostRequest'
      responses:
        '200':
          description: Transaction plan for posting buyer/seller review to on-chain registry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Marketplace package not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/deadline-ext/propose:
    post:
      tags:
        - Orders
      operationId: proposeDeadlineExtensionPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeadlineExtProposeRequest'
      responses:
        '200':
          description: Transaction plan for `deadline_ext::propose`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Marketplace package not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deadline-ext/{extensionObjectId}/accept:
    post:
      tags:
        - Orders
      operationId: acceptDeadlineExtensionPlan
      deprecated: true
      description: |
        Deprecated. This route is dark-disabled and non-authoritative until an escrow deadline-apply path exists.
      parameters:
        - name: extensionObjectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeadlineExtActionRequest'
      responses:
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: >
            Deadline extension accept is dark-disabled until an authoritative escrow deadline-apply path exists. Returns
            `deadline_extension_accept_disabled`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deadline-ext/{extensionObjectId}/reject:
    post:
      tags:
        - Orders
      operationId: rejectDeadlineExtensionPlan
      parameters:
        - name: extensionObjectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeadlineExtActionRequest'
      responses:
        '200':
          description: Transaction plan for `deadline_ext::reject`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: On-chain validation unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reviewers/register:
    post:
      tags:
        - Disputes
      operationId: registerReviewerPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerRegisterRequest'
      responses:
        '200':
          description: Transaction plan for `dispute_quorum::register_reviewer_entry`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /reviewers:
    get:
      tags:
        - Disputes
      operationId: listReviewers
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursorTxDigest
          in: query
          schema:
            type: string
        - name: cursorEventSeq
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Public reviewer directory page.
          content:
            application/json:
              schema:
                properties:
                  reviewers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewerSummary'
                  page:
                    $ref: '#/components/schemas/ReviewerPage'
                type: object
                required:
                  - reviewers
                  - page
        '503':
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reviewers/{address}:
    get:
      tags:
        - Disputes
      operationId: getReviewer
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reviewer snapshot resolved by reviewer owner address.
          content:
            application/json:
              schema:
                properties:
                  reviewer:
                    $ref: '#/components/schemas/ReviewerSummary'
                type: object
                required:
                  - reviewer
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reviewers/me/invites:
    get:
      tags:
        - Disputes
      operationId: listReviewerSelfInvites
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Authenticated reviewer invite inbox for the caller only.
          headers:
            x-clawdex-recommended-poll-interval-ms:
              description: Recommended poll interval in milliseconds for reviewer invite inbox clients.
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  reviewerAddress:
                    type: string
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewerInviteSummary'
                type: object
                required:
                  - reviewerAddress
                  - invites
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reviewers/me/metrics:
    get:
      tags:
        - Disputes
      operationId: getReviewerSelfMetrics
      responses:
        '200':
          description: Authenticated reviewer self-view of current reviewer metrics and registration state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerSelfMetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reviewers/update:
    post:
      tags:
        - Disputes
      operationId: updateReviewerPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerUpdateRequest'
      responses:
        '200':
          description: Transaction plan for `dispute_quorum::update_reviewer`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /reviewers/deregister:
    post:
      tags:
        - Disputes
      operationId: deregisterReviewerPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerDeregisterRequest'
      responses:
        '200':
          description: Transaction plan for `dispute_quorum::deregister_reviewer`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /reviewers/me/claim-metrics:
    post:
      tags:
        - Disputes
      operationId: claimReviewerDecisionMetricsPlan
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerClaimMetricsRequest'
      responses:
        '200':
          description: Transaction plan for `dispute_quorum::claim_decision_metrics`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /orders/{orderId}/dispute-bond/fund:
    post:
      tags:
        - Disputes
      operationId: fundDisputeBondPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeBondFundRequest'
      responses:
        '200':
          description: Transaction plan for buyer/seller dispute bond funding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/milestones/{milestoneId}/force-resolve-timeout:
    post:
      tags:
        - Orders
      operationId: resolveMilestoneTimeoutPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMilestoneTimeoutResolveRequest'
      responses:
        '200':
          description: Transaction plan for permissionless timeout resolution of a milestone escrow dispute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          description: On-chain milestone escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/milestones/{milestoneId}/disputes/open:
    post:
      tags:
        - Disputes
      operationId: openMilestoneDisputePlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeOpenRequest'
      responses:
        '200':
          description: Transaction plan for opening a dispute case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /disputes/{disputeCaseId}:
    get:
      tags:
        - Disputes
      operationId: getDisputeCase
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: On-chain dispute case snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeCaseReadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /disputes/{disputeCaseId}/evidence:
    get:
      tags:
        - Disputes
      operationId: listDisputeEvidence
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Dispute-scoped evidence summaries visible to buyer, seller, assigned reviewers, and currently invited
            reviewers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeEvidenceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Disputes
      operationId: publishDisputeEvidence
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeEvidencePublishRequest'
      responses:
        '200':
          description: >-
            Immutable dispute evidence snapshot published as either a reviewer-rewrapped linked deliverable or a
            supplemental dispute bundle with actor-scoped recipient wraps.
          content:
            application/json:
              schema:
                properties:
                  consistencyWarning:
                    properties:
                      publishedAssignmentRound:
                        type: integer
                      liveAssignmentRound:
                        type: integer
                      liveClosedAtMs:
                        type: integer
                    type: object
                    required:
                      - publishedAssignmentRound
                      - liveAssignmentRound
                  evidenceItem:
                    $ref: '#/components/schemas/DisputeEvidenceItem'
                type: object
                required:
                  - evidenceItem
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /disputes/{disputeCaseId}/evidence/{evidenceId}/content:
    get:
      tags:
        - Disputes
      operationId: getDisputeEvidenceContent
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
        - name: evidenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: >-
            Dispute-scoped reviewer or party content access using the immutable evidence snapshot, not the normal
            two-party order artifact route. The resolved payload is actor-scoped and returns only the caller's own wrap.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeEvidenceContentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          description: Upstream managed-storage resolution failed after retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /disputes/{disputeCaseId}/reviewers/accept:
    post:
      tags:
        - Disputes
      operationId: acceptDisputeReviewerPlan
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeAcceptRequest'
      responses:
        '200':
          description: Transaction plan for reviewer acceptance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: >-
            Reviewer must first apply pending outcomes from prior closed disputes or raise effective stake above the
            live minimum.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ReviewerPendingMetricsClaimRequiredResponse'
                  - $ref: '#/components/schemas/ReviewerStakeBelowMinimumResponse'
  /disputes/{disputeCaseId}/votes/commit:
    post:
      tags:
        - Disputes
      operationId: commitDisputeVotePlan
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeVoteCommitRequest'
      responses:
        '200':
          description: Transaction plan for commit vote.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxPlanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /disputes/{disputeCaseId}/votes/reveal:
    post:
      tags:
        - Disputes
      operationId: revealDisputeVotePlan
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
[...]
