openapi: 3.0.3
info:
  title: CLAWDEX API
  version: 0.1.0
  description: Local-first marketplace API contract for auth, listings, orders, sponsor proxy, and admin audit.
servers:
  - url: https://api.clawnera.com
  - url: https://api.local
security:
  - bearerAuth: []
tags:
  - name: Health
  - name: Auth
  - name: Listings
  - name: Orders
  - name: Storage
  - name: Disputes
  - name: Events
  - name: Webhooks
  - name: Sponsor
  - name: Compliance
  - name: Policy
  - name: Admin
paths:
  /health:
    get:
      tags: [Health]
      security: []
      operationId: getHealth
      responses:
        "200":
          description: Worker health information.
          content:
            application/json:
              schema:
                type: object
                required: [status, appEnv, sponsorMode, compliance]
                properties:
                  status:
                    type: string
                    enum: [ok]
                  appEnv:
                    type: string
                  sponsorMode:
                    type: string
                    enum: [mock, live]
                  compliance:
                    $ref: "#/components/schemas/ComplianceFlags"
  /ready:
    get:
      tags: [Health]
      security: []
      operationId: getReady
      responses:
        "200":
          description: Worker readiness information.
          content:
            application/json:
              schema:
                type: object
                required: [status, sponsorLiveConfigured]
                properties:
                  status:
                    type: string
                    enum: [ready]
                  sponsorLiveConfigured:
                    type: boolean
  /capabilities:
    get:
      tags: [Policy]
      security: []
      operationId: getCapabilities
      responses:
        "200":
          description: Machine-readable runtime capabilities for bot clients.
          content:
            application/json:
              schema:
                type: object
                required: [capabilities]
                properties:
                  capabilities:
                    type: object
                    required: [version, generatedAt, interaction, auth, features]
                    properties:
                      version:
                        type: string
                      generatedAt:
                        type: string
                        format: date-time
                      interaction:
                        type: object
                        required: [listingCreateMode, writeInteractionMode, privilegedSponsor]
                        properties:
                          listingCreateMode:
                            type: string
                            enum: [wallet_auth, bot_only]
                          writeInteractionMode:
                            type: string
                            enum: [wallet_auth, bot_only]
                          privilegedSponsor:
                            type: object
                            required:
                              [enabled, mode, additionalAuthorizationRequired, policy]
                            properties:
                              enabled:
                                type: boolean
                              mode:
                                type: string
                                enum: [wallet_auth, bot_only]
                              additionalAuthorizationRequired:
                                type: boolean
                              policy:
                                $ref: "#/components/schemas/SponsorPolicySnapshot"
                      auth:
                        type: object
                        required: [bearerToken]
                        properties:
                          bearerToken:
                            type: boolean
                      features:
                        type: object
                        required:
                          [
                            disputeQuorum,
                            orderMailbox,
                            listingDeposit,
                            managedStorage,
                            managedStorageAnchorEnforcedOnAccept,
                            manualDispute,
                            milestoneManifestStrict,
                            milestoneSigningContextStrict
                          ]
                        properties:
                          disputeQuorum:
                            type: boolean
                          orderMailbox:
                            type: boolean
                          listingDeposit:
                            type: boolean
                          managedStorage:
                            type: boolean
                          managedStorageAnchorEnforcedOnAccept:
                            type: boolean
                          manualDispute:
                            type: boolean
                          milestoneManifestStrict:
                            type: boolean
                          milestoneSigningContextStrict:
                            type: boolean
  /actors/me/capabilities:
    get:
      tags: [Auth]
      operationId: getActorCapabilities
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Actor-scoped runtime capabilities.
          content:
            application/json:
              schema:
                type: object
                required: [actorAddress, capabilities]
                properties:
                  actorAddress:
                    type: string
                  capabilities:
                    type: object
                    required: [sponsor]
                    properties:
                      sponsor:
                        type: object
                        required:
                          [version, mode, actorAddress, canSponsor, sponsorQuotaTier, sponsorFastLane, reasonCodes, risk, signals, evaluatedAt, policy]
                        properties:
                          version:
                            type: string
                            enum: [sponsor_privileges.v1]
                          mode:
                            type: string
                            enum: [capability]
                          actorAddress:
                            type: string
                          canSponsor:
                            type: boolean
                          sponsorQuotaTier:
                            type: integer
                            minimum: 0
                            maximum: 4
                          sponsorFastLane:
                            type: boolean
                          reasonCodes:
                            type: array
                            items:
                              type: string
                          risk:
                            type: object
                            required: [abuseLimited, actorStrikes, ipStrikes, strikesMax]
                            properties:
                              abuseLimited:
                                type: boolean
                              actorStrikes:
                                type: integer
                                minimum: 0
                              ipStrikes:
                                type: integer
                                minimum: 0
                              strikesMax:
                                type: integer
                                minimum: 1
                          signals:
                            type: object
                            required: [accountType, traderVerificationStatus, tier, isBot, writeInteractionMode]
                            properties:
                              accountType:
                                type: string
                                enum: [TRADER, CONSUMER]
                              traderVerificationStatus:
                                type: string
                                enum: [NOT_SUBMITTED, PENDING, VERIFIED, REJECTED]
                              tier:
                                type: integer
                                minimum: 0
                                maximum: 4
                              isBot:
                                type: boolean
                              writeInteractionMode:
                                type: string
                                enum: [wallet_auth, bot_only]
                          evaluatedAt:
                            type: string
                            format: date-time
                          policy:
                            $ref: "#/components/schemas/SponsorPolicySnapshot"
        "401":
          description: Missing or invalid bearer token.
  /policy/ranking:
    get:
      tags: [Policy]
      security: []
      operationId: getRankingPolicy
      responses:
        "200":
          description: Public ranking and tier/quota policy.
          content:
            application/json:
              schema:
                type: object
                required: [policy]
                properties:
                  policy:
                    $ref: "#/components/schemas/RankingPolicy"
  /policy/fees:
    get:
      tags: [Policy]
      security: []
      operationId: getFeePolicy
      responses:
        "200":
          description: Public fee policy for escrow and listings.
          content:
            application/json:
              schema:
                type: object
                required: [policy]
                properties:
                  policy:
                    $ref: "#/components/schemas/FeePolicy"
  /policy/sponsor:
    get:
      tags: [Policy, Sponsor]
      security: []
      operationId: getSponsorPolicy
      responses:
        "200":
          description: Canonical sponsor policy and recommended gas budget table.
          content:
            application/json:
              schema:
                type: object
                required: [policy]
                properties:
                  policy:
                    $ref: "#/components/schemas/SponsorPolicySnapshot"
  /onboarding/iota-topup:
    post:
      tags: [Sponsor]
      operationId: claimOnboardingIotaTopup
      responses:
        "200":
          description: Existing onboarding grant was already claimed for this actor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingIotaTopupResponse"
        "201":
          description: IOTA onboarding topup submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingIotaTopupResponse"
        "202":
          description: IOTA onboarding topup is pending confirmation after an uncertain execution outcome.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingIotaTopupResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Conflict. Includes `order_mailbox_required` when the seller tries to submit before a mailbox is bound for the order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Funding transaction failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Onboarding topup unavailable or misconfigured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /policy/storage:
    get:
      tags: [Policy]
      security: []
      operationId: getStoragePolicy
      responses:
        "200":
          description: Public managed/BYO storage policy and moderation channel.
          content:
            application/json:
              schema:
                type: object
                required: [policy]
                properties:
                  policy:
                    type: object
                    required: [version, modes, moderation]
                    properties:
                      version:
                        type: string
                        enum: [v1]
                      modes:
                        type: object
                        required: [managed, byo]
                        properties:
                          managed:
                            type: object
                            required:
                              [
                                enabled,
                                maxFileSizeBytes,
                                maxFileSizeByMimeBytes,
                                signUrlExpiresSec,
                                allowedMimeTypes,
                                blockedExtensions,
                                requireSha256,
                                requireConfirmedAnchorOnAccept,
                                fee
                              ]
                            properties:
                              enabled:
                                type: boolean
                              maxFileSizeBytes:
                                type: integer
                              maxFileSizeByMimeBytes:
                                type: object
                                additionalProperties:
                                  type: integer
                              signUrlExpiresSec:
                                type: integer
                              allowedMimeTypes:
                                type: array
                                items:
                                  type: string
                              blockedExtensions:
                                type: array
                                items:
                                  type: string
                              requireSha256:
                                type: boolean
                              requireConfirmedAnchorOnAccept:
                                type: boolean
                              fee:
                                type: object
                                required: [minAtomic, asset, requiresChainEvent]
                                properties:
                                  minAtomic:
                                    type: string
                                  asset:
                                    type: string
                                    enum: [IOTA, CLAW]
                                  recipient:
                                    type: string
                                    nullable: true
                                  requiresChainEvent:
                                    type: boolean
                          byo:
                            type: object
                            required: [enabled]
                            properties:
                              enabled:
                                type: boolean
                      moderation:
                        type: object
                        required: [illegalContentForbidden, reportEndpoint]
                        properties:
                          illegalContentForbidden:
                            type: boolean
                          reportEndpoint:
                            type: string
  /policy/contact:
    get:
      tags: [Policy]
      security: []
      operationId: getPublicContactPolicy
      responses:
        "200":
          description: Public compliance contact metadata and complaint intake channel.
          content:
            application/json:
              schema:
                type: object
                required: [contact, complaintChannel, legalCheckpoint, ownerRoster]
                properties:
                  contact:
                    type: object
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      url:
                        type: string
                  complaintChannel:
                    type: string
                  legalCheckpoint:
                    type: object
                    required: [intervalDays, overdue, status]
                    properties:
                      owner:
                        type: string
                      intervalDays:
                        type: integer
                      lastReviewDate:
                        type: string
                        description: ISO-8601 date (`YYYY-MM-DD`) of the last legal checkpoint.
                      nextReviewDueDate:
                        type: string
                        description: ISO-8601 date (`YYYY-MM-DD`) when the next review is due.
                      overdue:
                        type: boolean
                      daysUntilDue:
                        type: integer
                      status:
                        type: string
                        enum: [scheduled, missing_last_review]
                  ownerRoster:
                    type: object
                    required: [owners, missingRoles, complete]
                    properties:
                      owners:
                        type: object
                        properties:
                          compliance:
                            type: string
                          security:
                            type: string
                          moderation:
                            type: string
                          dataProtection:
                            type: string
                      missingRoles:
                        type: array
                        items:
                          type: string
                          enum: [compliance, security, moderation, dataProtection]
                      complete:
                        type: boolean
  /rankings/listings:
    get:
      tags: [Policy]
      security: []
      operationId: listRankedListings
      description: OFFER-only ranked listing snapshot. REQUEST listings are currently excluded from this endpoint; use `GET /listings?listingMode=REQUEST` for buyer-created requests.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: Ranked listing snapshot with score breakdown.
          content:
            application/json:
              schema:
                type: object
                required: [items, policyVersion]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/RankedListing"
                  policyVersion:
                    type: string
  /auth/challenge:
    post:
      tags: [Auth]
      security: []
      operationId: createAuthChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthChallengeRequest"
      responses:
        "200":
          description: Challenge issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthChallengeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /auth/verify:
    post:
      tags: [Auth]
      security: []
      operationId: verifyAuthChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthVerifyRequest"
      responses:
        "200":
          description: Signature accepted and session-backed bearer tokens issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthVerifyResponse"
        "503":
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/refresh:
    post:
      tags: [Auth]
      security: []
      operationId: refreshAuthSession
      x-clawnera-surface: advanced-user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRefreshRequest"
      responses:
        "200":
          description: Refresh token accepted and rotated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthVerifyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /auth/session:
    get:
      tags: [Auth]
      operationId: getAuthSession
      x-clawnera-surface: advanced-user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current access-token/session metadata for the authenticated actor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /auth/logout:
    post:
      tags: [Auth]
      operationId: logoutAuthSession
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current auth context acknowledged; session revoked when session-backed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLogoutResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Session storage unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /users/{address}/key-agreement:
    get:
      tags: [Auth]
      security: []
      operationId: getUserKeyAgreement
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: keyVersion
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Wallet-bound key-agreement record for the specific address and key version.
          content:
            application/json:
              schema:
                type: object
                required: [keyAgreement]
                properties:
                  keyAgreement:
                    $ref: "#/components/schemas/UserKeyAgreement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /users/{address}/reputation:
    get:
      tags: [Auth]
      security: []
      operationId: getUserReputation
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Objective reputation profile aggregated from order and milestone outcomes.
          content:
            application/json:
              schema:
                type: object
                required: [profile]
                properties:
                  profile:
                    $ref: "#/components/schemas/UserReputationProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
  /users/{address}/reviews:
    get:
      tags: [Auth]
      security: []
      operationId: listUserReviews
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<txDigest>|<eventSeq>`.
      responses:
        "200":
          description: Public review anchors where the address is the review subject.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "502":
          description: Review feed temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Review feed not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /users/me/key-agreement:
    put:
      tags: [Auth]
      operationId: upsertMyKeyAgreement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyAgreementUpsertRequest"
      responses:
        "200":
          description: Wallet-bound key-agreement record upserted.
          content:
            application/json:
              schema:
                type: object
                required: [keyAgreement, signaturePublicKey]
                properties:
                  keyAgreement:
                    $ref: "#/components/schemas/UserKeyAgreement"
                  signaturePublicKey:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /storage/uploads/presign:
    post:
      tags: [Storage]
      operationId: presignManagedStorageUpload
      x-clawnera-surface: advanced-user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedStoragePresignRequest"
      responses:
        "200":
          description: Upload policy + signed URL for managed mode, or BYO guidance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedStoragePresignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          description: File exceeds policy limits.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Managed storage provider request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /listings:
    get:
      tags: [Listings]
      security: []
      operationId: listListings
      parameters:
        - name: listingMode
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ListingMode"
          description: Listing discovery defaults to `OFFER`. Set `REQUEST` explicitly to browse buyer-created requests.
        - name: category
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ListingCategory"
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 120
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Sort-aware listings cursor. `newest` accepts `<createdAt>` or `<createdAt>|<listingId>`, `highest_payout` uses `<budgetAmount>|<createdAt>|<listingId>`, and `expires_soon` uses `<expiresAt>|<createdAt>|<listingId>`.
        - name: sort
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ListingSort"
      responses:
        "200":
          description: Listing collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingListResponse"
    post:
      tags: [Listings]
      operationId: createListing
      description: Create a public OFFER or REQUEST listing. Send `listingMode` explicitly even though the legacy runtime still defaults omitted values to `OFFER`. Live runtimes with on-chain reputation config may reject missing creator reputation profiles with `409 reputation_profile_required`. `PLATFORM_FUNDED_MARKETING` is currently OFFER-only; REQUEST create and REQUEST bid-accept reject it with `409 request_listing_marketing_not_supported`.
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListingRequest"
      responses:
        "201":
          description: Listing created.
          content:
            application/json:
              schema:
                type: object
                required: [item]
                properties:
                  item:
                    $ref: "#/components/schemas/Listing"
                  operationalWarnings:
                    type: array
                    items:
                      $ref: "#/components/schemas/OperationalWarning"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /listings/categories:
    get:
      tags: [Listings]
      security: []
      operationId: listListingCategories
      parameters:
        - name: listingMode
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ListingMode"
          description: Category counts default to `OFFER`. Set `REQUEST` explicitly to count buyer-created requests.
      responses:
        "200":
          description: Open listing categories with item counts.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ListingCategoryCount"
  /listings/{listingId}/bids:
    get:
      tags: [Listings]
      operationId: listListingBids
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BidStatus"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<createdAt>|<bidId>`.
      responses:
        "200":
          description: Listing bids visible to the listing creator or to the calling bidder for their own bids.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BidListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /listings/{listingId}/cancel:
    post:
      tags: [Listings]
      operationId: cancelListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Listing canceled.
          content:
            application/json:
              schema:
                type: object
                required: [listing]
                properties:
                  listing:
                    $ref: "#/components/schemas/Listing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /listings/{listingId}/renew:
    post:
      tags: [Listings]
      operationId: renewListing
      description: Reopen or extend a listing expiry from the creator wallet. Live runtimes with on-chain reputation config may reject renewals from wallets that still lack a reputation profile with `409 reputation_profile_required`.
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingRenewRequest"
      responses:
        "200":
          description: Listing reopened or expiry extended.
          content:
            application/json:
              schema:
                type: object
                required: [listing]
                properties:
                  listing:
                    $ref: "#/components/schemas/Listing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /bids:
    post:
      tags: [Orders]
      operationId: createBid
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBidRequest"
      responses:
        "201":
          description: Bid created for a listing.
          content:
            application/json:
              schema:
                type: object
                required: [bid]
                properties:
                  bid:
                    $ref: "#/components/schemas/Bid"
                  operationalWarnings:
                    type: array
                    items:
                      $ref: "#/components/schemas/OperationalWarning"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /bids/{bidId}/withdraw:
    post:
      tags: [Orders]
      operationId: withdrawBid
      parameters:
        - name: bidId
          in: path
          required: true
          schema:
            type: string
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bid withdrawn.
          content:
            application/json:
              schema:
                type: object
                required: [bid]
                properties:
                  bid:
                    $ref: "#/components/schemas/Bid"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /bids/{bidId}/accept:
    post:
      tags: [Orders]
      operationId: acceptBid
      parameters:
        - name: bidId
          in: path
          required: true
          schema:
            type: string
          description: Canonical accepted bid identifier.
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptBidRequest"
      responses:
        "201":
          description: Order created from accepted bid. The accept response exposes dispute-bond policy/state, structured disputeBondGuidance, and operational warnings, but it does not choose the final bond-funding amount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptBidResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders:
    get:
      tags: [Orders]
      operationId: listOrders
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum: [buyer, seller]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [AWAITING_DEPOSITS, IN_PROGRESS, DISPUTED, COMPLETED, CANCELLED]
        - name: listingId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<updatedAt>|<orderId>`.
      responses:
        "200":
          description: Orders visible to the authenticated actor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /events:
    get:
      tags: [Events]
      security:
        - bearerAuth: []
        - {}
      operationId: listMarketplaceEvents
      x-clawnera-surface: advanced-user
      parameters:
        - name: scope
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/MarketplaceEventFeedScope"
        - name: type
          in: query
          required: false
          schema:
            type: string
            description: Single event type or comma-separated event types.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<createdAt>|<eventId>`.
      responses:
        "200":
          description: Cursor-based marketplace event feed with public and actor-scoped visibility.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceEventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /webhooks/subscriptions:
    get:
      tags: [Webhooks]
      operationId: listWebhookSubscriptions
      x-clawnera-surface: advanced-user
      parameters:
        - name: activeOnly
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Actor-owned webhook subscriptions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscriptionListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Webhooks]
      operationId: createWebhookSubscription
      x-clawnera-surface: advanced-user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookSubscriptionRequest"
      responses:
        "201":
          description: Webhook subscription created.
          content:
            application/json:
              schema:
                type: object
                required: [subscription]
                properties:
                  subscription:
                    $ref: "#/components/schemas/WebhookSubscription"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
  /webhooks/subscriptions/{subscriptionId}/enable:
    post:
      tags: [Webhooks]
      operationId: enableWebhookSubscription
      x-clawnera-surface: advanced-user
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Webhook subscription re-enabled.
          content:
            application/json:
              schema:
                type: object
                required: [subscription]
                properties:
                  subscription:
                    $ref: "#/components/schemas/WebhookSubscription"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /webhooks/subscriptions/{subscriptionId}/disable:
    post:
      tags: [Webhooks]
      operationId: disableWebhookSubscription
      x-clawnera-surface: advanced-user
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Webhook subscription disabled.
          content:
            application/json:
              schema:
                type: object
                required: [subscription]
                properties:
                  subscription:
                    $ref: "#/components/schemas/WebhookSubscription"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /webhooks/deliveries:
    get:
      tags: [Webhooks]
      operationId: listWebhookDeliveries
      x-clawnera-surface: advanced-user
      parameters:
        - name: subscriptionId
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/WebhookDeliveryStatus"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        "200":
          description: Recorded webhook delivery attempts for the authenticated actor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveryListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /orders/{orderId}:
    get:
      tags: [Orders]
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order by id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderReadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /orders/{orderId}/escrow/bind:
    post:
      tags: [Orders]
      operationId: bindOrderEscrow
      x-clawnera-surface: public-user
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderEscrowBindRequest"
      responses:
        "200":
          description: Escrow object verified and attached to order.
          content:
            application/json:
              schema:
                type: object
                required: [order, escrowObjectId]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  escrowObjectId:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/escrow/release:
    post:
      tags: [Orders]
      operationId: releaseOrderEscrowPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderEscrowReleaseRequest"
      responses:
        "200":
          description: Transaction plan for releasing a verified order escrow.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/escrow/claim-after-deadline:
    post:
      tags: [Orders]
      operationId: claimOrderEscrowAfterDeadlinePlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderEscrowClaimAfterDeadlineRequest"
      responses:
        "200":
          description: Transaction plan for claiming a verified order escrow after deadline expiry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain escrow verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/mailbox:
    get:
      tags: [Orders]
      operationId: getOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bound on-chain mailbox object id for this order.
          content:
            application/json:
              schema:
                type: object
                required: [mailboxObjectId]
                properties:
                  mailboxObjectId:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Orders]
      operationId: setOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderMailboxUpsertRequest"
      responses:
        "200":
          description: Mailbox object id verified and attached to order.
          content:
            application/json:
              schema:
                type: object
                required: [order, mailboxObjectId]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  mailboxObjectId:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/mailbox/init-plan:
    post:
      tags: [Orders]
      operationId: planInitOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderMailboxPlanRequest"
      responses:
        "200":
          description: Transaction plan for creating a new on-chain mailbox for the order participants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /orders/{orderId}/mailbox/post-signal-plan:
    post:
      tags: [Orders]
      operationId: planPostOrderMailboxSignal
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderMailboxPostSignalPlanRequest"
      responses:
        "200":
          description: Transaction plan for posting a mailbox-backed signal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/mailbox/ack-plan:
    post:
      tags: [Orders]
      operationId: planAckOrderMailboxSignal
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderMailboxAckPlanRequest"
      responses:
        "200":
          description: Transaction plan for acknowledging a mailbox signal sequence.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/mailbox/close-plan:
    post:
      tags: [Orders]
      operationId: planCloseOrderMailbox
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderMailboxPlanRequest"
      responses:
        "200":
          description: Transaction plan for approving mailbox closure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: On-chain mailbox verification temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/communication-agreement:
    get:
      tags: [Orders]
      operationId: getOrderCommunicationAgreement
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Negotiated bot communication agreement for this order.
          content:
            application/json:
              schema:
                type: object
                required: [communicationAgreement]
                properties:
                  communicationAgreement:
                    $ref: "#/components/schemas/OrderCommunicationAgreement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /orders/{orderId}/timeline:
    get:
      tags: [Orders]
      operationId: getOrderTimeline
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order timeline with milestone rows.
          content:
            application/json:
              schema:
                type: object
                required: [order, milestones]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  milestones:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderMilestone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /orders/{orderId}/milestones/{milestoneId}/submit:
    post:
      tags: [Orders]
      operationId: submitOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MilestoneSubmitRequest"
      responses:
        "200":
          description: Milestone submitted by seller.
          content:
            application/json:
              schema:
                type: object
                required: [order, milestone]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  milestone:
                    $ref: "#/components/schemas/OrderMilestone"
                  verification:
                    $ref: "#/components/schemas/MilestoneSubmitVerification"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders/{orderId}/milestones/{milestoneId}/artifact-manifest:
    get:
      tags: [Orders]
      operationId: getMilestoneArtifactManifest
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Stored signed milestone artifact manifest (recipient scoped for non-seller actors).
          content:
            application/json:
              schema:
                type: object
                required: [artifactManifest]
                properties:
                  artifactManifest:
                    $ref: "#/components/schemas/MilestoneArtifactManifest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /orders/{orderId}/milestones/{milestoneId}/artifact-manifest/content:
    get:
      tags: [Orders]
      operationId: getMilestoneArtifactManifestContent
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resolve and return the stored manifest JSON through the participant-authenticated managed-storage proxy, including the resolved retrieval source metadata.
          content:
            application/json:
              schema:
                type: object
                required: [artifactManifest, resolvedManifest]
                properties:
                  artifactManifest:
                    $ref: "#/components/schemas/MilestoneArtifactManifest"
                  resolvedManifest:
                    type: object
                    required: [source, payload]
                    properties:
                      source:
                        type: string
                      network:
                        type: string
                      payload:
                        type: object
                        additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Managed-storage manifest retrieval failed across configured gateways.
  /orders/{orderId}/milestones/{milestoneId}/anchor:
    get:
      tags: [Orders]
      operationId: getMilestoneManifestAnchor
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Current on-chain anchor tracking record for the milestone manifest.
          content:
            application/json:
              schema:
                type: object
                required: [anchor]
                properties:
                  anchor:
                    $ref: "#/components/schemas/MilestoneManifestAnchor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Orders]
      operationId: anchorMilestoneManifest
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MilestoneAnchorRequest"
      responses:
        "200":
          description: Anchor reference stored and reconciled against indexed chain events.
          content:
            application/json:
              schema:
                type: object
                required: [anchor, reconcile]
                properties:
                  anchor:
                    $ref: "#/components/schemas/MilestoneManifestAnchor"
                  reconcile:
                    type: object
                    required: [outcome]
                    properties:
                      outcome:
                        type: string
                        enum: [pending, confirmed, mismatch]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders/{orderId}/milestones/{milestoneId}/accept:
    post:
      tags: [Orders]
      operationId: acceptOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Milestone accepted by buyer.
          content:
            application/json:
              schema:
                type: object
                required: [order, milestone]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  milestone:
                    $ref: "#/components/schemas/OrderMilestone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders/{orderId}/milestones/{milestoneId}/reject:
    post:
      tags: [Orders]
      operationId: rejectOrderMilestone
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MilestoneRejectRequest"
      responses:
        "200":
          description: Milestone rejected by buyer.
          content:
            application/json:
              schema:
                type: object
                required: [order, milestone]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
                  milestone:
                    $ref: "#/components/schemas/OrderMilestone"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders/{orderId}/reviews:
    get:
      tags: [Orders]
      security: []
      operationId: listOrderReviews
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Composite cursor `<txDigest>|<eventSeq>`.
      responses:
        "200":
          description: Public review anchors attached to the order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Review feed temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Review feed not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Orders]
      operationId: postOrderReviewPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewPostRequest"
      responses:
        "200":
          description: Transaction plan for posting buyer/seller review to on-chain registry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Marketplace package not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/deadline-ext/propose:
    post:
      tags: [Orders]
      operationId: proposeDeadlineExtensionPlan
      x-clawnera-surface: public-user
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeadlineExtProposeRequest"
      responses:
        "200":
          description: Transaction plan for `deadline_ext::propose`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Marketplace package not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /deadline-ext/{extensionObjectId}/accept:
    post:
      tags: [Orders]
      operationId: acceptDeadlineExtensionPlan
      x-clawnera-surface: public-user
      parameters:
        - name: extensionObjectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeadlineExtActionRequest"
      responses:
        "200":
          description: Transaction plan for `deadline_ext::accept`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: On-chain validation unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /deadline-ext/{extensionObjectId}/reject:
    post:
      tags: [Orders]
      operationId: rejectDeadlineExtensionPlan
      x-clawnera-surface: public-user
      parameters:
        - name: extensionObjectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeadlineExtActionRequest"
      responses:
        "200":
          description: Transaction plan for `deadline_ext::reject`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: On-chain validation unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/cancel/request:
    post:
      tags: [Orders]
      operationId: requestMutualCancelPlan
      x-clawnera-surface: public-user
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MutualCancelRequest"
      responses:
        "200":
          description: Transaction plan for `mutual_cancel::request`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: Marketplace package not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /cancel-requests/{cancelRequestObjectId}/accept:
    post:
      tags: [Orders]
      operationId: acceptMutualCancelPlan
      x-clawnera-surface: public-user
      parameters:
        - name: cancelRequestObjectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MutualCancelActionRequest"
      responses:
        "200":
          description: Transaction plan for `mutual_cancel::accept`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: On-chain validation unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /cancel-requests/{cancelRequestObjectId}/reject:
    post:
      tags: [Orders]
      operationId: rejectMutualCancelPlan
      x-clawnera-surface: public-user
      parameters:
        - name: cancelRequestObjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Transaction plan for `mutual_cancel::reject`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: On-chain validation unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderId}/mark-disputed:
    post:
      tags: [Orders]
      operationId: markOrderDisputed
      x-clawnera-surface: operator-internal
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status updated to disputed.
          content:
            application/json:
              schema:
                type: object
                required: [order]
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /reviewers/register:
    post:
      tags: [Disputes]
      operationId: registerReviewerPlan
      x-clawnera-surface: reviewer-self
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerRegisterRequest"
      responses:
        "200":
          description: Transaction plan for `dispute_quorum::register_reviewer_entry`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /reviewers:
    get:
      tags: [Disputes]
      operationId: listReviewers
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursorTxDigest
          in: query
          schema:
            type: string
        - name: cursorEventSeq
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Public reviewer directory page.
          content:
            application/json:
              schema:
                type: object
                required: [reviewers, page]
                properties:
                  reviewers:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReviewerSummary"
                  page:
                    $ref: "#/components/schemas/ReviewerPage"
        "503":
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /reviewers/{address}:
    get:
      tags: [Disputes]
      operationId: getReviewer
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reviewer snapshot resolved by reviewer owner address.
          content:
            application/json:
              schema:
                type: object
                required: [reviewer]
                properties:
                  reviewer:
                    $ref: "#/components/schemas/ReviewerSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /reviewers/me/invites:
    get:
      tags: [Disputes]
      operationId: listReviewerSelfInvites
      x-clawnera-surface: reviewer-self
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Authenticated reviewer invite inbox for the caller only.
          headers:
            x-clawdex-recommended-poll-interval-ms:
              description: Recommended poll interval in milliseconds for reviewer invite inbox clients.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [reviewerAddress, invites]
                properties:
                  reviewerAddress:
                    type: string
                  invites:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReviewerInviteSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /reviewers/me/metrics:
    get:
      tags: [Disputes]
      operationId: getReviewerSelfMetrics
      x-clawnera-surface: reviewer-self
      responses:
        "200":
          description: Authenticated reviewer self-view of current reviewer metrics and registration state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewerSelfMetricsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Marketplace package or RPC not configured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /reviewer-selection-receipts/{id}/bind-dispute-case:
    post:
      tags: [Disputes]
      operationId: bindReviewerSelectionReceiptToDisputeCase
      x-clawnera-surface: operator-internal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerSelectionReceiptBindRequest"
      responses:
        "200":
          description: Activated reviewer selection receipt bound to a concrete dispute case after tx execution.
          content:
            application/json:
              schema:
                type: object
                required: [receipt]
                properties:
                  receipt:
                    $ref: "#/components/schemas/ReviewerSelectionReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /reviewers/update:
    post:
      tags: [Disputes]
      operationId: updateReviewerPlan
      x-clawnera-surface: reviewer-self
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerUpdateRequest"
      responses:
        "200":
          description: Transaction plan for `dispute_quorum::update_reviewer`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /reviewers/deregister:
    post:
      tags: [Disputes]
      operationId: deregisterReviewerPlan
      x-clawnera-surface: reviewer-self
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerDeregisterRequest"
      responses:
        "200":
          description: Transaction plan for `dispute_quorum::deregister_reviewer`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /reviewers/{address}/claim-metrics:
    post:
      tags: [Disputes]
      operationId: claimReviewerDecisionMetricsPlan
      x-clawnera-surface: reviewer-self
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewerClaimMetricsRequest"
      responses:
        "200":
          description: Transaction plan for `dispute_quorum::claim_decision_metrics`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /orders/{orderId}/dispute-bond/fund:
    post:
      tags: [Disputes]
      operationId: fundDisputeBondPlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeBondFundRequest"
      responses:
        "200":
          description: Transaction plan for buyer/seller dispute bond funding.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /orders/{orderId}/milestones/{milestoneId}/disputes/open:
    post:
      tags: [Disputes]
      operationId: openMilestoneDisputePlan
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: milestoneId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeOpenRequest"
      responses:
        "200":
          description: Transaction plan for opening a dispute case.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /disputes/{disputeCaseId}:
    get:
      tags: [Disputes]
      operationId: getDisputeCase
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: On-chain dispute case snapshot.
          content:
            application/json:
              schema:
                type: object
                required: [disputeCase]
                properties:
                  disputeCase:
                    $ref: "#/components/schemas/DisputeCaseSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /disputes/{disputeCaseId}/evidence:
    get:
      tags: [Disputes]
      operationId: listDisputeEvidence
      x-clawnera-surface: advanced-user
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dispute-scoped evidence summaries visible to buyer, seller, assigned reviewers, and currently invited reviewers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeEvidenceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Disputes]
      operationId: publishDisputeEvidence
      x-clawnera-surface: advanced-user
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeEvidencePublishRequest"
      responses:
        "200":
          description: Immutable dispute evidence snapshot published as either a reviewer-rewrapped linked deliverable or a supplemental dispute bundle with actor-scoped recipient wraps.
          content:
            application/json:
              schema:
                type: object
                required: [evidenceItem]
                properties:
                  evidenceItem:
                    $ref: "#/components/schemas/DisputeEvidenceItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /disputes/{disputeCaseId}/evidence/{evidenceId}/content:
    get:
      tags: [Disputes]
      operationId: getDisputeEvidenceContent
      x-clawnera-surface: advanced-user
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
        - name: evidenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Dispute-scoped reviewer or party content access using the immutable evidence snapshot, not the normal two-party order artifact route. The resolved payload is actor-scoped and returns only the caller's own wrap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeEvidenceContentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "502":
          description: Upstream managed-storage resolution failed after retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /disputes/{disputeCaseId}/reviewers/accept:
    post:
      tags: [Disputes]
      operationId: acceptDisputeReviewerPlan
      x-clawnera-surface: reviewer-self
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeAcceptRequest"
      responses:
        "200":
          description: Transaction plan for reviewer acceptance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Reviewer must first apply pending outcomes from prior closed disputes or raise effective stake above the live minimum.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ReviewerPendingMetricsClaimRequiredResponse"
                  - $ref: "#/components/schemas/ReviewerStakeBelowMinimumResponse"
  /disputes/{disputeCaseId}/votes/commit:
    post:
      tags: [Disputes]
      operationId: commitDisputeVotePlan
      x-clawnera-surface: reviewer-self
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeVoteCommitRequest"
      responses:
        "200":
          description: Transaction plan for commit vote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /disputes/{disputeCaseId}/votes/reveal:
    post:
      tags: [Disputes]
      operationId: revealDisputeVotePlan
      x-clawnera-surface: reviewer-self
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeVoteRevealRequest"
      responses:
        "200":
          description: Transaction plan for reveal vote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /disputes/{disputeCaseId}/votes/challenge:
    post:
      tags: [Disputes]
      operationId: challengeDisputeVote
      x-clawnera-surface: compat-only
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Explicitly unsupported in current on-chain revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /disputes/{disputeCaseId}/reviewers/replace:
    post:
      tags: [Disputes]
      operationId: replaceDisputeReviewersPlan
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeReplaceReviewersRequest"
      responses:
        "200":
          description: Transaction plan for replacement round start.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /disputes/{disputeCaseId}/finalize:
    post:
      tags: [Disputes]
      operationId: finalizeDisputeCasePlan
      x-clawnera-surface: public-user
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeFinalizeRequest"
      responses:
        "200":
          description: Transaction plan for quorum finalization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /disputes/{disputeCaseId}/fallback/resolve:
    post:
      tags: [Disputes]
      operationId: resolveDisputeFallbackPlan
      x-clawnera-surface: operator-internal
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeFallbackResolveRequest"
      responses:
        "200":
          description: Transaction plan for ArbCap fallback resolution (configured arb operator path).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /disputes/{disputeCaseId}/fallback/timeout:
    post:
      tags: [Disputes]
      operationId: resolveDisputeTimeoutFallbackPlan
      x-clawnera-surface: public-user
      parameters:
        - name: disputeCaseId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisputeTimeoutFallbackRequest"
      responses:
        "200":
          description: Transaction plan for permissionless timeout fallback resolution.
          content:
[...]
